//Colors
$orange: #f07f08;
$blue: #211b4b;
$grey: #636363;

$white: #ffffff;
$black: #000000;

// Grey Common Border
$border-properties: 1px solid
  rgba(
    $color: $grey,
    $alpha: 0.5,
  );

//Orange Thick Border
$border-properties-orange: 2px solid
  rgba(
    $color: $orange,
    $alpha: 0.5,
  );

//FontSize
$font-light: 10px;
$font-extra-small: 12px;
$font-small: 14px;
$font-medium: 16px;
$font-large: 18px;
$font-extra-large: 20px;

$font-heading: 24px;

//Mixins
//? Flexbox

@mixin flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin ButtonDark {
  height: 40px;
  width: 150px;
  border-style: none;
  border-radius: 25px;
  border: 2px solid $orange;
  background-color: $orange;
  color: $white;
  font-weight: 600;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-color: $white;
    color: $orange;
    border: 2px solid $orange;
    cursor: pointer;
  }
}

@mixin ButtonLight {
  height: 40px;
  width: 150px;
  border-style: none;
  border-radius: 25px;
  border: 2px solid $orange;
  background-color: $white;
  color: $orange;
  font-weight: 600;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-color: $orange;
    color: $white;
    border: 2px solid $orange;
    cursor: pointer;
  }
}

@mixin textbox {
  height: 40px;
  width: 75%;
  background-color: $white;
  color: $grey;
  outline: none;
  padding: 0px 20px;
  border: $border-properties;
  box-sizing: border-box;
  border-radius: 27px;
  transition: all 0.5s ease-in-out;
  &:focus {
    border: $border-properties;
    border-color: $orange;
  }
}

p {
  margin: 0px;
}

@mixin searchbox {
  width: 200px;
  height: 18px;
  padding: 10px 20px;
  margin-bottom: 0px;
  border: 1px solid rgba($color: $grey, $alpha: 0.4);
  border-radius: 20px;
  font-size: 14px;
  color: $grey;
  &:focus {
    outline: none;
    border: 1px solid $orange;
  }
}

@mixin inventorybox {
  width: 134px;
  height: 13px;
  padding: 10px 20px;
  border: 1px solid rgba($color: $grey, $alpha: 0.4);
  border-radius: 20px;
  font-size: 14px;
  color: $grey;
  margin-top: 5px;
  &:focus {
    outline: none;
    border: 1px solid $orange;
  }
}
