.title{
    position: absolute;
    width: 334px;
    height: 45px;
    left: 5vw;
    top: 5vw;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 1.7vw;
    line-height: 45px;
    text-transform: capitalize;
    color: #636363;
}